p, li {
    font-size: 16px; /* Make the bullet points smaller */
    font-weight: normal; /* Ensure the bullet points are not bold */
}

h1 {
    display: block;
    font-size: 32px;
    background-color: white;
    border: 10px solid black;
    text-align: center;
}

h2 {
    text-align: center;
    border: 10px solid black;
    padding: 10px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    position: relative;
    float: left
}

.summary, .education, .work-experience, .skills {
    margin-bottom:px;
}

body {
    background-color: aquamarine;
  }

@media (min-width: 150px) and (max-width: 300px) {
    body {
        background-color: lightsalmon;
    }
}

@media (min-width: 301px) and (max-width: 500px) {
    body {
        background-color: powderblue;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    body {
        background-color: limegreen;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
}

/* Full-width sections */
.header, .summary, .education, .experience, .skills, .awards, .other {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.other_container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two separate sections */
    grid-gap: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

.hobbies, .contact {
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 10px;
    float: left;
}

#league
{
    display: block;
}